<button (click)="comp.attention()">Attention</button>
<button (click)="choon_bi_up_arms()">{{ choonbi | titlecase}}</button>
<button id="button_one" #button (click)="short_stance_leg_up()">
  Short stance</button>
<!-- <button (click)="callMe()">click</button> -->
<!-- <button type="button" (click)="this.data.calling_data_service(button )">Buy</button> -->

<ngt-canvas

[camera]="{ position: [0, 1.5, 4], fov: 75 }"

>


<!-- [scene]="{background: bgcolor }" -->
<!-- [camera]="{ position: [0, 1.5, 4], fov: 75 }" -->
<ngt-ambient-light></ngt-ambient-light>
 <ngt-color attach="background" color="lightblue"></ngt-color>

  <ngt-ambient-light></ngt-ambient-light>
  <ngt-grid-helper [args]="[400, 40, grid_center_line_color, bgcolor]" 
  
  [position]="[0, 0, 0]">
  </ngt-grid-helper>
<ng-container>
    <!-- 👇 NgtPrimitive exposes this object instead of itself like a NgtMesh -->
    <ngt-primitive #primitiveModel
      *ngIf="model$ | async as model"
      (ready)="data.modelReadyService($event)"
      [object]="model.scene"
      
      [position]="[0, 0, 0]"
      
    >
      </ngt-primitive
    >
  </ng-container>
  <ngt-soba-orbit-controls #controls 
  (ready)="setInitial(controls)"
  [target]="([0, 0.5, 0])"
  
  ></ngt-soba-orbit-controls>
</ngt-canvas>



