<!-- whole page div area begins -->
<div class="mat-app-background" backgroundColor="primary" id="top-div">
  <!-- instruction container div area begins -->
  <div
    [@instructionOpenClose]="instructionisOpen ? 'open' : 'closed'"
    id="instructionContainerDiv"
    class="mat-app-background justify-content-between open-close-container"
  >
    <!-- instruction div area begins -->
    <!-- [@rotator]="rotatorisOpen ? 'open' : 'closed'" -->
    <div id="instructionDiv" class="mat-app-background">
      <mat-toolbar color="accent" class="justify-content-between">
        <p
          [@visibleInvisible]="correctisOpen ? 'open' : 'closed'"
          class="mat-body"
        >
          Please make your selections for<br />
          {{ title }},<br />
          Count: {{ count_number[0] }}
        </p>

        <p [@visibleInvisible]="correctisOpen ? 'closed' : 'open'">Your selections were correct!</p>
      </mat-toolbar>
    </div>
  </div>

  <!-- correct/incorrect div area begins -->
  <!-- <div
    [@correctOpenClose]="correctisOpen ? 'open' : 'closed'"
    id="correctDiv"
    class="flex-container mat-app-background justify-content-between open-close-container"
  >
    <mat-toolbar color="accent" class="flex justify-content-between">
      <p class="mat-body">
        Correct!<br />
        {{ title }},<br> Count: one</p> 
      </p></mat-toolbar
    >
  </div> -->

  <!-- stance div area begins -->
  <div
    [@openClose]="isOpen ? 'closed' : 'open'"
    id="stanceDiv"
    class="flex-container mat-app-background justify-content-between open-close-container"
  >
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title class="mat-body">Stance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="stance"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let stance of stanceChoices"
            [value]="stance"
            (click)="
              record_stance(stance); BP1_movement_1(stance, leftArm, rightArm)
            "
          >
            {{ stance }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          Selected stance:<br />
          {{ stance }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- left arm div area begins -->
  <div
    [@leftArmOpenClose]="isOpen ? 'open' : 'closed'"
    id="leftArmDiv"
    class="flex-container mat-app-background justify-content-between open-close-container"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Left arm</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="leftArm"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let leftArm of leftArmChoices"
            [value]="leftArm"
            (click)="
              record_leftArm(leftArm); BP1_movement_1(stance, leftArm, rightArm)
            "
          >
            {{ leftArm }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          Left arm selection is:<br />
          {{ leftArm }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- right arm div area begins -->
  <div
    [@openClose]="isOpen ? 'closed' : 'open'"
    id="rightArmDiv"
    class="flex-container mat-app-background justify-content-between open-close-container"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Right arm</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="rightArm"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let rightArm of rightArmChoices"
            [value]="rightArm"
            (click)="
              record_rightArm(rightArm);
              BP1_movement_1(stance, leftArm, rightArm)
            "
          >
            {{ rightArm }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          Right arm selection is:<br />
          {{ rightArm }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- open close div and attention and choonbi button   area begins -->
  <div
    [@attchoonOpenClose]="attchoonisOpen ? 'open' : 'closed'"
    class="open-close-container"
  >
    <button
      mat-raised-button
      color="accent"
      id="attserve_attention"
      [disabled]="attention_clicked"
      (click)="attserve.attention(); attention_clicked = true"
    >
      Attention</button
    ><br />

    <button
      class="choonBiButton"
      mat-raised-button
      color="primary"
      #choonBiButton
      [disabled]="choonBi_clicked"
      (click)="choon_bi_up_arms(); choonBi_clicked = true; toggle()"
    >
      {{ choonbi | titlecase }}
    </button>
  </div>

  <!-- ngt canvas container div area begins -->

  <div id="ngt-canvas-container">
    <ngt-canvas [camera]="{ position: [0, 1.5, 4], fov: 75 }">
      <ngt-ambient-light></ngt-ambient-light>
      <ngt-ambient-light></ngt-ambient-light>
      <ngt-grid-helper [args]="[400, 40]" [position]="[0, 0, 0]">
      </ngt-grid-helper>
      <ng-container>
        <!-- 👇 NgtPrimitive exposes this object instead of itself like a NgtMesh -->
        <ngt-primitive
          #primitiveModel
          *ngIf="loadModel.model$ | async as model"
          (ready)="loadModel.modelReadyService($event)"
          [object]="model.scene"
          [position]="[0, 0, 0]"
        >
        </ngt-primitive>
      </ng-container>

      <!-- soba orbit controls area begins -->

      <ngt-soba-orbit-controls
        #controls
        (ready)="setInitial(controls)"
        [target]="[0, 0.5, 0]"
      ></ngt-soba-orbit-controls>
    </ngt-canvas>
  </div>
</div>
