<button (click)="attention()">Attention</button>
<button (click)="choon_bi()">Choon Bi</button>
<button (click)="turn_bone()">turn right</button> 
<h2>{{ QuatW }} </h2>
 <button (click)="changeName()">Turn left</button>
<!--<button (click)="animate()">Make fist</button>
<button (click)="go_straight()">Go straight</button> -->

<ngt-canvas
  shadows
  [dpr]="[1, 2]"
  [camera]="{ position: [0, 1.5, 4], fov: 75 }"
  
>
  <ngt-color attach="background" color="white"></ngt-color>

  <ngt-ambient-light></ngt-ambient-light>
  <ngt-grid-helper [args]="[400, 40, color, colorfirst]" [position]="[0, 0, 0]">
  </ngt-grid-helper>

  <ng-container>
    <!-- 👇 NgtPrimitive exposes this object instead of itself like a NgtMesh -->
    <ngt-primitive
      *ngIf="model$ | async as model"
      [object]="model.scene"
      (ready)="modelReadyColor($event); modelReadyMovement($event)"
      [position]="[0, 0, 0]"
      
    >
      </ngt-primitive
    >
  </ng-container>
  <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
</ngt-canvas>
