<p>xyz works!</p>

<div class="canvas-container" >
  Canvas goes here
<ngt-canvas [shadows]="true" [scene]="{ background: colorfirst }" 
 [camera]="{ position: [0, 3, 10], fov: 40 }"
>
<ngt-axes-helper initialLog [args]=[5] ></ngt-axes-helper>
  <ngt-ambient-light [intensity]="0.5"></ngt-ambient-light>
  <ngt-point-light
    [intensity]="0.5"
    [position]="[1, 1, 0]"
  ></ngt-point-light>
  <ngt-point-light
    [intensity]="0.5"
    [position]="[-1, 1, 0]"
  ></ngt-point-light>
  <ngt-point-light
    [intensity]="0.5"
    [position]="[1, -1, 0]"
  ></ngt-point-light>

<ngt-grid-helper [args]=[200,20]></ngt-grid-helper>

<ngt-color attach="background" color="white"></ngt-color>


  <ng-container >
    <ngt-ambient-light [intensity]="0.9"></ngt-ambient-light>
    <ngt-color attach="background" color="white"></ngt-color>
      <!-- 👇 NgtPrimitive exposes this object instead of itself like a NgtMesh -->
      <ngt-primitive  *ngIf="model$ | async as model" [object]="model.scene" 
      (ready)="modelReady($event)" (ready) = "setSkeleton(model.scene)"
      
      ></ngt-primitive>
    </ng-container>
    <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
</ngt-canvas>
</div>
