<div class="mat-app-background" id="top-div">
 
  <div
    class="titleDiv"
    [@changeOverTitle]="toggler.changeOverTitleisOpen ? 'open' : 'closed'"
  >
    <h1 class="mat-title" color="primary">
     Basic poomsae three
    </h1>
  </div>

  <!-- instruction div area begins -->
  <div
    id="instructionDiv"
    class="flex-container mat-app-background"
    [@.disabled]="toggler.isPaused"
    [@instructionOpenClose]="toggler.instructionisOpen ? 'open' : 'closed'"
  >
    <p
      class="mat-body"
      [@visibleInvisible]="
        toggler.correctisOpen && toggler.count_incrementer <= 8
          ? 'open'
          : 'closed'
      "
    >
      Please make your <br />selections for count: <br />{{
        toggler.count_number[toggler.count_incrementer] | uppercase
      }}
    </p>

    <p
      id="correct-par"
      class="correct-par mat-body"
      [@visibleInvisible]="toggler.correctisOpen ? 'closed' : 'open'"
      *ngIf="toggler.count_incrementer < 9"
    >
      Your selections <br />were correct!
    </p>
  </div>

  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- final div area begins -->

  
  <div
    id="kiopDiv"
    [@.disabled]="toggler.isPaused"
    [@changeOverKiop]="toggler.changeOverKiopisOpen ? 'open' : 'closed'"
  >
   
   <img [src]="'./assets/kiop_voice_balloon_small.png'">
  </div>


  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- final div area begins -->

  
  <div
    id="finalDiv"
    class="mat-body titleDiv finalDiv"
    [@.disabled]="toggler.isPaused"
    [@changeOverFinal]="toggler.changeOverTitleisOpen ? 'closed' : 'open'"
  >
   
    Congratulations, basic poomsae three is complete. <br />

    Go on to basic poomsae four?
    <a
      routerLink="/BP4"
      (click)="
        toggler.toggle_final();
        toggler.toggle_new_poomsae_open();
        toggler.count_incrementer = 1;
        toggler.poomsae_number = 4;
        rts.return_to_start_function()
      "
      >Yes</a>
  </div>

  
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  

  <!-- stance div area begins -->
  <div
    [@.disabled]="toggler.isPaused"
    [@stanceOpenClose]="toggler.isOpen ? 'closed' : 'open'"
    id="stanceDiv"
    class="flex-container justify-content-between"
    *ngIf="toggler.count_incrementer < 2"
  >
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title class="mat-body">Stance</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-body">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="toggler.stance"
        >
          <mat-radio-button
            class="example-radio-button .mat-mdc-radio-button ~ .mat-mdc-radio-button"
            *ngFor="let stance of toggler.BP3_stanceChoices"
            [value]="stance"
            (click)="
              toggler.BP3_record_stance(stance);
              bp3MovementCollate.BP3_collate_movement(
                stance,
                toggler.leftArm,
                toggler.rightArm
              )
            "
          >
            {{ stance }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            color="primary"
            class="mat-app-background"
            [ngStyle]="{
              'background-color':
                toggler.stancecorrectIncorrect == 'This stance is correct!'
                  ? 'green'
                  : 'red',
              color: '#fff',
              width: '100px'
            }"
          >
            {{ toggler.stancecorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  

  <!-- left arm div area begins -->
  <div
    [@.disabled]="toggler.isPaused"
    [@leftArmOpenClose]="toggler.isOpen ? 'open' : 'closed'"
    id="leftArmDiv"
    class="flex-container justify-content-between"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Left arm</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="toggler.leftArm"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let leftArm of toggler.BP3leftArmChoices"
            [value]="leftArm"
            (click)="
              toggler.BP3_record_leftArm(leftArm);
              bp3MovementCollate.BP3_collate_movement(
                toggler.stance,
                leftArm,
                toggler.rightArm
              )
            "
          >
            {{ leftArm }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            class="mat-app-background"
            [ngStyle]="{
              'background-color':
                toggler.leftArmcorrectIncorrect ==
                'Left arm movement is correct!'
                  ? 'green'
                  : 'red',

              color: '#fff',
              width: '100px'
            }"
          >
            {{ toggler.leftArmcorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  

  <!-- right arm div area begins -->
  <!-- *ngIf="toggler.count_incrementer != 3" -->
  <div
    [@.disabled]="toggler.isPaused"
    [@openClose]="toggler.isOpen ? 'closed' : 'open'"
    id="rightArmDiv"
    class="flex-container justify-content-between"
    
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Right arm</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="toggler.rightArm"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let rightArm of toggler.BP3rightArmChoices"
            [value]="rightArm"
            (click)="
              toggler.BP3_record_rightArm(rightArm);
              bp3MovementCollate.BP3_collate_movement(
                toggler.stance,
                toggler.leftArm,
                rightArm
              )
            "
          >
            {{ rightArm }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            [ngStyle]="{
              'background-color':
                toggler.rightArmcorrectIncorrect ==
                'Right arm movement is correct!'
                  ? 'green'
                  : 'red',
              color: '#fff',
              width: '100px'
            }"
          >
            {{ toggler.rightArmcorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  

  <!-- open close div and attention and choonbi button   area begins -->
  <!--  -->
  <div
    [@.disabled]="toggler.isPaused"
    [@attchoonOpenClose]="toggler.attchoonisOpen ? 'open' : 'closed'"
    class="open-close-container"
  >
    <button
      mat-raised-button
      color="accent"
      id="attserve_attention"
      [disabled]="attention_clicked"
      (click)="attserve.attention(); attention_clicked = true"
    >
      Attention</button
    ><br />

    <button
      class="choonBiButton"
      mat-raised-button
      color="primary"
      #choonBiButton
      [disabled]="choonBi_clicked"
      (click)="
        choonbiServ.choon_bi_up_arms();
        choonBi_clicked = true;
        toggler.toggle();
        toggler.poomsae_number = 3;
        toggler.count_incrementer = 1
      "
    >
      {{ choonbi | titlecase }}
    </button>
  </div>
</div>
