<div class="mat-app-background" id="top-div">
  <div
    class="titleDiv"
    [@changeOverTitle]="BP4toggler.changeOverTitleisOpen ? 'open' : 'closed'"
  >
    <h1 class="mat-title" color="primary">Basic poomsae four</h1>
  </div>

  <!-- instruction div area begins -->
  <div
    id="instructionDiv"
    class="flex-container mat-app-background"
    [@.disabled]="BP4toggler.isPaused"
    [@instructionOpenClose]="BP4toggler.instructionisOpen ? 'open' : 'closed'"
  >
    <p
      class="mat-body"
      [@visibleInvisible]="
        BP4toggler.correctisOpen && BP4toggler.count_incrementer <= 8
          ? 'open'
          : 'closed'
      "
    >
      Please make your <br />selections for count: <br />{{
        BP4toggler.count_number[BP4toggler.count_incrementer] | uppercase
      }}
    </p>

    <p
      id="correct-par"
      class="correct-par mat-body"
      [@visibleInvisible]="BP4toggler.correctisOpen ? 'closed' : 'open'"
      *ngIf="BP4toggler.count_incrementer < 9"
    >
      Your selections <br />were correct!
    </p>
  </div>

  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- final div area begins -->

  <div
    id="finalDiv"
    class="mat-body titleDiv finalDiv"
    [@.disabled]="BP4toggler.isPaused"
    [@changeOverFinal]="BP4toggler.changeOverTitleisOpen ? 'closed' : 'open'"
  >
    Congratulations, basic poomsae four is complete. <br />

    Go on to one step sparring?
    <a
      routerLink="/BP4"
      (click)="
        BP4toggler.toggle_final();
        BP4toggler.count_incrementer = 1;
        BP4toggler.poomsae_number = 4;
        rts.return_to_start_function()
      "
      >Yes</a
    >
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <!-- rightLeg div area begins -->
  <div
    [@.disabled]="BP4toggler.isPaused"
    [@stanceOpenClose]="BP4toggler.isOpen ? 'closed' : 'open'"
    id="stanceDiv"
    class="flex-container justify-content-between"
  >
    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title class="mat-body">Right leg</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-body">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="BP4toggler.rightLeg"
        >
          <mat-radio-button
            class="example-radio-button .mat-mdc-radio-button ~ .mat-mdc-radio-button"
            *ngFor="let rightLeg of BP4toggler.BP4_rightLegChoices"
            [value]="rightLeg"
            (click)="
              BP4toggler.BP4_record_rightLeg(rightLeg);
              bp4MovementCollate.BP4_collate_movement(
                rightLeg,
                BP4toggler.leftLeg,
                BP4toggler.Arms
              )
            "
          >
            {{ rightLeg }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            color="primary"
            class="mat-app-background"
            [ngStyle]="{
              'background-color':
                BP4toggler.rightLegcorrectIncorrect == 'Kick is correct!'
                  ? 'green'
                  : 'red',
              color: '#fff',
              width: '100px'
            }"
          >
            {{ BP4toggler.rightLegcorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <!-- left arm div area begins -->
  <div
    [@.disabled]="BP4toggler.isPaused"
    [@leftArmOpenClose]="BP4toggler.isOpen ? 'open' : 'closed'"
    id="leftArmDiv"
    class="flex-container justify-content-between"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Left leg</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="BP4toggler.leftLeg"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let leftLeg of BP4toggler.BP4leftLegChoices"
            [value]="leftLeg"
            (click)="
              BP4toggler.BP4_record_leftLeg(leftLeg);
              bp4MovementCollate.BP4_collate_movement(
                BP4toggler.rightLeg,
                leftLeg,
                BP4toggler.Arms
              )
            "
          >
            {{ leftLeg }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            class="mat-app-background"
            [ngStyle]="{
              'background-color':
                BP4toggler.leftLegcorrectIncorrect == 'Kick is correct!'
                  ? 'green'
                  : 'red',

              color: '#fff',
              width: '100px'
            }"
          >
            {{ BP4toggler.leftLegcorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <!-- Arms div area begins -->
  <div
    [@.disabled]="BP4toggler.ArmsisPaused"
    [@openClose]="BP4toggler.isOpen ? 'closed' : 'open'"
    id="rightArmDiv"
    class="flex-container justify-content-between"
    *ngIf="BP4toggler.count_incrementer < 2"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Arms</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="BP4toggler.Arms"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let Arms of BP4toggler.BP4ArmsChoices"
            [value]="Arms"
            (click)="
              BP4toggler.BP4_record_Arms(Arms);
              bp4MovementCollate.BP4_collate_movement(
                BP4toggler.rightLeg,
                BP4toggler.leftLeg,
                Arms
              )
            "
          >
            {{ Arms }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <p
            [ngStyle]="{
              'background-color':
                BP4toggler.ArmscorrectIncorrect == 'Arms movement is correct!'
                  ? 'green'
                  : 'red',
              color: '#fff',
              width: '100px'
            }"
          >
            {{ BP4toggler.ArmscorrectIncorrect }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <!-- open close div and attention and choonbi button   area begins -->
  <!--  -->
  <div
    [@.disabled]="BP4toggler.isPaused"
    [@attchoonOpenClose]="BP4toggler.attchoonisOpen ? 'open' : 'closed'"
    class="open-close-container"
  >
    <button
      mat-raised-button
      color="accent"
      id="attserve_attention"
      [disabled]="attention_clicked"
      (click)="
        attserve.attention();
        attention_clicked = true;
        BP4toggler.poomsae_number = 4
      "
    >
      Attention
    </button>

    <button
      class="choonBiButton"
      mat-raised-button
      color="primary"
      #choonBiButton
      [disabled]="choonBi_clicked"
      (click)="
        choonbiServ.choon_bi_up_arms();
        choonBi_clicked = true;
        this.open_X_choonBi()
      "
    >
      {{ choonbi | titlecase }}
    </button>
    <button
      class="choonBiButton"
      mat-raised-button
      color="accent"
      #choonBiButton
      [disabled]="choonBi_X_clicked"
      (click)="
        choonbiServ.BP4_X_choon_bi_arms_and_legs_up();
        choonBi_X_clicked = true;
        BP4toggler.toggle();
        BP4toggler.poomsae_number = 4;
        BP4toggler.count_incrementer = 1
      "
    >
      {{ BP4_X_choonbi }}
    </button>
  </div>

  <!-- <ngt-soba-orbit-controls
      
        #controls
        [minDistance]="20"
        [target]="[0.0, 0.5, 0]"
      ></ngt-soba-orbit-controls> -->
</div>
