/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */

/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* @import 'app/indigo-pink-custom.css'; */

html,
body {
    height: 100%;
    margin: 0px;
    z-index: 1;


}

.container {
    height: 100vh;
}

#correctDiv {
    position: absolute;
    /* top: calc(10%) !important; */
    right: 50%;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    font-size: medium;
}

.correct-par {
    position: absolute;
    top: 5%;
    /* left: 15%; */

    padding: 3px;
    background-color: green;
    color: aliceblue;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: flex-start;

}

.example-radio-button {
    margin: 5px;
}

#finalDiv {
    position: absolute;
    /* top: calc(10%) !important; */
    align-items: center;
    justify-content: center;
    /* top: 0%; */
    /* left: -201px;  */
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: medium;
    background-color: green;
    color: aliceblue;
    z-index: 2;
}
#finalDiv :any-link {
    color: aliceblue;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    z-index: 1;

}


.flex-container>div {

    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

#instructionContainerDiv {
    position: absolute;
    /* top: calc(10%) !important; */
    right: 50%;
    margin: 0px;
    /* width: fit-content;
    height: fit-content; */
    font-size: medium;
}

#instructionDiv {
    position: absolute;
    /* top: calc(30%) !important; */
    align-items: center;
    justify-content: center;
    left: 30%;
    padding: 0px;
    width: 15vw;
    height: fit-content;
    font-size: medium;
    /* background-color: #3f51b5; */
    /* color: aliceblue; */
}

.justify-content-between {
    justify-content: space-between;
}


#kiopDivleft {
    position: absolute;
    /* top: calc(10%) !important; */
    top: 125px;
    left: calc(35%) !important;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: medium;
    /* background-color: rgb(52, 20, 233); */
    /* color: rgb(0, 0, 0); */
    z-index: 1;
}

#kiopDivright {
    position: absolute;
    /* top: calc(10%) !important; */
    /* top: 100px; */
    left: calc(55%) !important;
    align-items: center;
    justify-content: center;

    padding: 10px;
    width: fit-content;
    height: fit-content;
    font-size: medium;
   
    z-index: 2;
}

#leftArmDiv {
    position: absolute;
    /* top: calc(10%) !important; */
    /* right: 0px; */
    margin: 10px;
    /* width: 50px; */
    /* height: fit-content; */

}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important;
    /*click effect color change*/
    background-color: #2a13d7 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #e311ce !important;
    /*inner circle color change*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ec08dd !important;
    /*outer ring color change*/
}



.mat-app-background {

    height: 100%;
    width: 100%;
    /* background-color: #696969; */


}

.mat-card {
    font-size: medium;
    transform: scale(0.85);
}

#ngt-canvas-container {
    height: 80%;
    border: 2px dotted rgb(192, 252, 255);
    background-color: #696969;
    z-index: -3;
}

#ngt-canvas-container.after {

    content: "";
    display: table;
    clear: both;

}

.open-close-container {
    position: relative;
    /* top: calc(50% - 250px) !important; */
    padding-left: 0px;
    /* width: 20vw;
    height: 30vh; */
    /* border: 5px dotted pink; */
    font-size: medium;
    z-index: 1;
}

.radio-group {
    display: flex;
    flex-direction: column;
    /* margin: 10px 5px; */
    align-items: flex-start;
}





#rightArmDiv {
    position: absolute;
    top: calc(10%) !important;
    left: calc(0%) !important;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

#routerOutletDiv {
    position: relative;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 500px;
    border: 5px dotted rgb(13, 3, 70);
}

#stanceDiv {
    position: absolute;
     top: calc(60%) !important;
    /*left: calc(20%) !important; */
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.titleDiv {
    position: absolute;
    top: calc(0%) !important;
    right: calc(45%) !important;
    margin: 10px;
    width: fit-content;
    height: fit-content;



}

#wholePageDiv {
    width: 100vw;
    height: 100vh;
    z-index: -3;
    background-color: #171751;
}